section {
  
    /*background: rgb(2,0,36);
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
}

.img {
    width: 7rem;
}

.name {
    padding-top: 8.5px;
    font-size: 26px;

    font-family: 'Alegreya Sans SC', sans-serif;
}

.profile {
    padding-left: 9rem;
}

@media (min-width:768px) {
    .profile {
        padding-left: unset;
    }
}

.media {
    width: 30rem;
    background-color: transparent;
    border-radius: 50px;
    display: inline-block;
    height: 4rem;
background-color: #f0f2f8;
transition: transform .2s;
    border: 1px solid rgba(0, 0, 0, .125);
    
}
.media:hover {
    background-color: rgb(219, 219, 219);
    -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
  }

.media_2 {
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.logo {
    width: 3.2rem;
    padding-top: 0.7rem;
    padding-left: 0.7rem;
}
.title{
    width: 8rem;
    margin: 0.4rem;
}
.title_txt{
    font-family: 'Heebo', sans-serif;
    padding-top: 1rem;
    font-size: 23px;
}
a{
text-decoration: none;

}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}